@model List<DynamicRoleWeb.ViewModels.UserMenuViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row pb-3">
    <div class="col-6">
        <h4>Users</h4>
    </div>
   
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                User Name
            </th>
            <th>
                Email
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.ActionLink("Edit User Permission", "EditUserMenuPermission", "UserMenu",  new { id = item.UserId},new{ @class = "btn btn-outline-success" })
                </td>
            </tr>
        }
    </tbody>
</table>